<div id="navigation" class="hidden"></div>


<div id="help">
    <table>
        <tr><td class="key">space, &rarr;</td><td>próximo</td></tr>
        <tr><td class="key">&larr;</td><td>anterior</td></tr>
    </table>
    <h1 class="center">#| titulo justificado</h1>
    <h3 class="right">###&lt; subsubtitulo direita</h3>
    <h2 class="left">##&lt; subtitulo esquerda</h2>
    <ul>
      <li>* Um item</li>
      <li>* com dois na lista</li>
    </ul>
    <pre class="code">$ alert("syntax")</pre>
</div>
<a id="icon-help" class='icon' href="#" title="precisando de ajuda?">?</a>
<a id="icon-edit" class='icon' href="#" title="Insira mais conteúdo">+</a>
<div id="preso">
</div>
<div id="footer">
    <span id="slideInfo"></span>
    <span id="author"><%= @presentation.author.name %></span> |
    <span id="email-author"><%= @presentation.author.email %></span>
    <span id="debugInfo"></span>
</div>

<div id="slides" class="offscreen" style="display:none;" >
    <% @presentation.pages.each do |page| %>
        <div class='slide' data-transition='scrollUp'>
            <div ref='<%= page.ref %>' class='content'>
                <%= page.content_html %>
            </div>
        </div>
    <% end %>
</div>

