<div id="navigation" class="hidden"></div>
<div id="preso">
</div>
<div id="footer">
    <span id="slideInfo"></span>
    <span id="author"><%= @presentation.author['name'] %></span>
    <span id="email-author"><%= @presentation.author['email'] %></span>
    <span id="debugInfo"></span>
</div>
<div id="slides" class="offscreen" style="display:none;" >
    <% @presentation.pages.each do |page| %>
        <div class='slide' data-transition='scrollUp'>
            <div ref='<%= page.ref %>' class='content'>
                <%= page.content_html %>
            </div>
        </div>
    <% end %>
</div>
