<div id="navigation" class="hidden"></div>
<div id="help">
    <table>
        <tr><td class="key">space, &rarr;</td><td>próximo</td></tr>
        <tr><td class="key">&larr;</td><td>anterior</td></tr>
        <tr><td class="key">f</td><td>mostra/esconde footer</td></tr>
        <tr><td class="key">z</td><td>mostra/esconde esta ajuda</td></tr>
    </table>
</div>

<div id="preso">carregando...</div>
<div id="footer">
    <span id="slideInfo"></span>
    <span id="author"><%= @presentation.author %></span>
    <span id="debugInfo"></span>
</div>

<div id="slides" class="offscreen" style="display:none;" >
    <% @presentation.pages.each do |page| %>
        <div class='slide' data-transition='scrollUp'>
            <div ref='<%= page.ref %>' class='content'>
                <%= page.content %>
            </div>
        </div>
    <% end %>
</div>

