body {
  font-family: "Gill Sans", Helvetica, Arial, sans-serif;
}

#preso, .slide {
    width: 1020px;
    height: 740px;
    margin-left:auto;
    margin-right:auto;
    overflow:hidden;
    border: 0px none;
}

#footer {
    background: #eee;
    width: 80%, 
    height: 24px;
    font-weight: bold;
    margin-left:auto;
    margin-right:auto;
}

/* iPhone */
/* Portrait */
@media screen and (max-width: 320px)
{
  #preso { 
      margin: 0;
      padding: 0;
      width: 320px;
      max-height: 356px;
      margin-left:auto; 
      margin-right:auto;
/*      overflow:hidden;*/
  }
  #footer { 
      background: #eee;
      margin: 0;
      padding: 2px;
      width: 320px;
      height: 20px;
      margin-left:auto; 
      margin-right:auto;
  }
}
/* Landscape */
@media screen and (max-width: 480px)
{
  #preso { 
      margin: 0;
      padding: 0;
/*      min-height: 320px;*/
      width: 480px;
      margin-left:auto; 
      margin-right:auto;
  }
  #footer { 
      background: #eee;
      margin: 0;
      padding: 2px;
      width: 480px;
      height: 20px;
      margin-left:auto; 
      margin-right:auto;
  }
}

.center img {
    display:block;
    margin-left:auto;
    margin-right:auto;
}

.slide .middle {
  height: 740px;
  width: 1020px;
  display: table-cell;
  vertical-align: middle;
}

.bullets ul {
    font-size: 3em;
}
.bullets ul li {
    text-align: center;
    padding: 25px;
}

.smbullets ul {
    font-size: 2em;
}
.smbullets ul li {
    text-align: center;
    padding: 10px;
}

.commandline pre {
    font-size: 2em;
}

.commandline code.command {
    color: #000;
}

.commandline code.result {
    color: #444;
}

.command h1 {
    white-space: pre;
    font-family: monospace;
    font-size: 3em;
}

.code {
    white-space: pre;
    font-family: monospace;
}

.subsection {
    background: #008;
    color: #fff;
}

.small {
    font-size: 80%;
}

.big {
    font-size: 350%;
}

.smaller {
    font-size: 70%;
}

h1 { font-size: 5em; }
h2 { font-size: 3em; }
h3 { font-size: 2em; }

h1, h2, h3 {
  font-weight: normal;
  margin: 0.5em 0;
}

pre { margin-left: 40px; font-size: 2.8em; }

.notes { display: none }
.hidden { position:absolute; top:0; left:-9999px; width:1px; height:1px; overflow:hidden; }
.offscreen { position:absolute; top:0; left:-9999px; overflow:hidden; }
#debugInfo { margin-left: 30px; }

#help {
    background: #9f9;
    position: absolute;
    right: 80px;
    display: none;
    z-index: 2147483647; //max, see http://www.puidokas.com/max-z-index/
}
#help table tr td.key {
    text-align: right;
    border-right: 2px solid #8b8;
    padding-right: 4px;
    font-weight: bold;
}
.right {
  text-align:right;
}
.left {
  text-align:left;
}
.center{
  text-align:center;
}
#form-master { 
    width: 50%; 
    height: 5%; 
    font-size: 150%; 
    left:25%;
}

