body {
  font-family: Arial;
  color:white;
  text-align:left;
  background-image: url(/images/themes/ideia.me/background5.jpg);
  background-repeat: no-repeat;
  background-position: top center;
}

h1, h2, h3, li, #footer, #help {
 background: rgba(0, 0, 0, 0.44);
 color:white;
}
pre {
 background: rgba(0, 0, 0, 0.74);
 font-size: 3em;
}

li, pre {
 font-size: 2em;
 width: 80%;
 margin-left:10%;
} 

pre, #footer {
 width: 80%;
}

